.food-shared .food {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.food-page .food::after{
    content: "";
    width: 500px;
}

.food-shared .food ul {
    display: flex;
    height: 250px;
    width: 500px;
    margin-bottom: 50px;
    background-color: rgb(245, 233, 200);
}

.food-shared .food ul:nth-last-child(1) {
    margin-bottom: 0;

}

.food-shared .food ul:hover {
    box-shadow: 2px 2px 3px gray;
}

.food-shared .food li {
    width: 255px;
    text-align: center;
}

.food-shared .food img {
    width: 100%;
    height: auto;
}

.food-shared .food .food-text {
    /* background-color: rgb(245, 233, 200); */

}

.food-shared .food h2 {
    margin: 15px 0;
}

.food-shared .food p {
    line-height: 1.5;
    /* margin: 10px 20px 20px; */
    padding: 10px 20px 20px;
    height: 7em;
    overflow: hidden;
    margin: 0 auto;
    /* margin-bottom: 15px; */

}

.food-shared .food .line {
    border: 0.5px solid rgb(177, 177, 177);
    width: 80%;
    margin: 0 auto;
}

.food-shared .food .food-text h3{
    font-weight: bold;
    cursor: pointer;
    color: rgb(51, 9, 236);
    margin-top: 15px;
}

.food-shared .food li h3{
    color: rgb(46, 197, 239);
}

/* ------------------food-page---------------- */

@media screen and (max-width: 414px) {
    .food-shared .food ul {
        height: 190px;
        width: 380px;
        margin-bottom: 30px;
        
    }

    .food-shared .food p {
        margin: 5px;
    }


}
