.index-page .news ul {
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    margin: 0 10px;
    /* outline: 2px solid rgb(210, 144, 78); */
}

.index-page .news li {
    /* outline: 2px solid rgb(210, 144, 78); */
    width: 250px;
}

.index-page .news li:nth-child(2) {
    outline: 2px solid rgb(210, 144, 78);
    width: 270px;
}

.index-page .news img {
    display: block;
    width: 100%;
}

/* 內容 */
.news-shared .news-text {
    padding: 20PX 20px 20PX 20px;
}

.news-shared .news-text h2 {
    line-height: 1.5;
    height: 85%;

}

.news-shared .news-text h2 a:hover {
    color: rgb(46, 197, 239);
}

.news-shared .news-text span {
    margin-left: 20%;
    margin-right: 10px;
}

/* ------------------news-page------------------ */
/* 排序 */
.news-page .sort {
    display: flex;
    /* outline: 2px solid rgb(210, 144, 78); */
    margin-bottom: 20px;
}

.news-page .sort li {
    font-size: 20px;
    padding: 5px;
    line-height: 1.5;
}
/* 日期 */
.news-page .sort .date {
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    font-weight: bold;
    color: rgb(51, 9, 236);
}

.news-page .sort .date:hover {
    cursor: pointer;
    color: rgb(46, 197, 239);
}
/* 版 */
.news-page .news{
    display: flex;
    flex-wrap: wrap;
    /* outline: 2px solid rgb(210, 144, 78); */
}

.news-page .news ul {
    display: flex;
    height: 250px;
    width: calc((100% - 30px) / 2);
    margin-bottom: 20px;
    margin-right: 30px;
    /* outline: 2px solid rgb(210, 144, 78); */
}

.news-page .news ul:nth-child(2n){
    margin-right: 0;
}

.news-page .news li{
    width: 250px;
}

.news-page .news li:nth-child(2) {
    width: 270px;
}
/* .news-shared .news img:hover{
    transform: scale(1.3);
    transform-origin: 50% 50%;
} */

.news-page .news img {
    display: block;
    width: 100%;
}

.news-page .news ul:hover{
    box-shadow: 1px 1px 2px gray;
    
}


