/* 版 */
.index-page .news>div{
    display: flex;
}

.news-shared .news ul {
    display: flex;
    height: 250px;
    width: 50%;
}

.news-shared .news ul:hover {
    box-shadow: 1px 1px 2px gray;
}


.news-shared .news li {
    /* outline: 2px solid rgb(210, 144, 78); */
    width: 250px;
}

.news-shared .news img {
    display: block;
    width: 100%;
}

/* 內容 */
.news-shared .news-text {
    padding: 20PX 20px 10PX 20px;
}

.news-shared .news-text h2 {
    line-height: 1.5;
    height: 85%;

}

.news-shared .news-text h2 a:hover {
    color: rgb(46, 197, 239);
}

.news-shared .news-text span {
    margin-left: 30%;
    margin-right: 10px;
}

/* ------------------news-page------------------ */
/* 排序 */
.news-page .sort {
    margin-top: 20px;
    display: flex;
}

.news-page .sort li {
    font-size: 20px;
    padding: 5px;
    line-height: 1.5;
}
/* 日期 */
.news-page .sort .date {
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    font-weight: bold;
    color: rgb(51, 9, 236);
}

.news-page .sort .date:hover {
    cursor: pointer;
    color: rgb(46, 197, 239);
}
/* 版 */
.news-page .news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-page .news ul {
    margin: 20px 0px;
}


