.index-page .room {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    flex-wrap: wrap;
}

.room-shared .room ul {
    text-align: center;
    height: 400px;
    margin-bottom: 20px;

}

.room-shared .room li {
    width: 250px;
}

.room-shared .room ul:hover {
    box-shadow: 1px 1px 2px gray;
}

/* 圖片以外，其他都上下留空白margin */
.room-shared .room li:nth-child(1n + 2) {
    margin: 10px 0;
}

.room-shared .room img {
    display: block;
    width: 100%;
}


.room-shared .room .fa-location-dot {
    margin-right: 5px;
    font-size: 20px;
}

.room-shared .room .like-star .fa-star {
    margin-top: 20px;

}

.room-shared .room .like-star .star5 {
    color: rgb(201, 201, 201);

}

.room-shared .room p {
    font-size: 20px;
}

.room-shared .room .fa-thumbs-up {    
    margin-right: 5px;
    font-size: 20px;
}

.room-shared .room .fa-heart {
    margin-left: 10px;
}

.detailed {
    display: flex;
}

.detailed span{
    width: 100%;
    align-self: center;
    color: rgb(228, 61, 61);
}

.detailed button {
    width: 100%;
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: 20px;
    border: none;
    background-color: white;

}


/* ------------------room-page---------------- */
.room-page .innerWarpper {
    display: flex;
    margin-top: 30px;
}
.room-page .Reservation {
    width: 220px;
    height: 100%;
}

/* Reservation預訂 */
.Reservation {
    padding: 30px;
    background-color: rgb(234, 234, 234);
}



.Reservation select {
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
    margin-bottom: 15px;
}

form>ul>li>input {
    font-size: 16px;
    font-weight: bold;
    width: 188px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
    margin-bottom: 15px;
}

form .numInput{
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    
}

form .numInput input{
    font-size: 16px;
    font-weight: bold;
    width: 80px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
    
}

form .prces input {
    font-size: 16px;
    font-weight: bold;
    width: 188px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
    /* margin-bottom: 15px; */
}

form input[type="checkbox"]{
    width: 15px;
    height: 15px;
    
}

.Reservation button {
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
    background-color: rgb(255, 255, 255);
    color: rgb(51, 9, 236);
    margin-bottom: 15px;
}

.Reservation button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px gray;
}

.Reservation button i{
    margin-left: 10px; 
}

.Reservation h2 {
   margin: 20px 0;
}

.Reservation h3{
    margin-top: 20px;
    /* outline: 1px solid rgb(21, 159, 51); */
}

.hotelToggle{
    /* outline: 1px solid red; */
    margin-left: 100px;
}

.prcesToggle{
    margin-left: 140px;
}

.starToggle{
    margin-left: 100px;
}

.facilityToggle{
    margin-left: 140px;
}

.Reservation .line {
    border: 0.5px solid rgb(202, 202, 202);
    width: 200px;
    margin: 10px 0;

}

.fa-circle-minus:hover,.fa-circle-plus:hover {
    cursor: pointer;
}

.Reservation .star i {
    color: rgb(201, 201, 201);
}

.Reservation .star .star1 i:nth-of-type(1) {
    color: rgb(231, 216, 18);
}
/* 遞減用負號 */
.Reservation .star .star2 i:nth-of-type(-1n + 2) {
    color: rgb(231, 216, 18);
}

.Reservation .star .star3 i:nth-of-type(-1n + 3) {
    color: rgb(231, 216, 18);
}

.Reservation .star .star4 i:nth-of-type(-1n + 4) {
    color: rgb(231, 216, 18);
}

.Reservation .star .star5 i:nth-of-type(1n+1) {
    color: rgb(231, 216, 18);
}

.room-page .room {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 3%;
}
