.index-page .room {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

/* .index-page .room::after {
    content: "";
    width:250px;
} */

.index-page .room ul {
    text-align: center;
    /* height: 400px; */
    width: 250px;
    margin-bottom: 20px;

}



.index-page .room li {
    /* height: auto; */
    
}

.room-shared .room ul:hover {
    box-shadow: 1px 1px 2px gray;
}

/* 圖片以外，其他都上下留空白margin */
.room-shared .room li:nth-child(1n + 2) {
    margin: 10px 0;
}

.room-shared .room img {
    display: block;
    width: 100%;
    height: auto;
}


.room-shared .room .fa-location-dot {
    margin-right: 5px;
    font-size: 20px;
}

.room-shared .room .like-star .fa-star {
    margin-top: 15px;

}

.room-shared .room .like-star .star5 {
    color: rgb(201, 201, 201);

}

.room-shared .room p {
    font-size: 18px;
}

.room-shared .room .fa-thumbs-up {    
    margin-right: 5px;
    font-size: 20px;
}

.room-shared .room .fa-heart {
    margin-left: 10px;
}

.detailed {
    display: flex;
}

.detailed span{
    width: 100%;
    align-self: center;
    color: rgb(228, 61, 61);
}

.detailed button {
    width: 100%;
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: 18px;
    border: none;
    background-color: white;

}


/* ------------------room-page---------------- */


.room-page .innerWarpper {
    display: flex;
    /* outline: 1px solid red; */
}
.room-page .Reservation {
    width: 220px;
    height: 100%;
    /* outline: 1px solid rgb(0, 255, 136); */
    background-color: rgb(234, 234, 234);
    padding: 20px;
}

.Reservation select {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
    margin-bottom: 15px;
    /* outline: 1px solid rgb(0, 255, 136); */
}

.Reservation form>ul>li>input {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
    margin-bottom: 15px;
}

.Reservation form .numInput{
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;   
    width: 100%;
}

.Reservation form .numInput input{
    font-size: 16px;
    font-weight: bold;
    width: 80px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
    
}

.Reservation form .prces input {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
    
}

.Reservation form input[type="checkbox"]{
    width: 15px;
    height: 15px;
    /* outline: 1px solid rgb(0, 255, 136); */
    
}

.Reservation button {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
    background-color: rgb(255, 255, 255);
    color: rgb(51, 9, 236);
    margin-bottom: 15px;
}

.Reservation button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px gray;
}

.Reservation button i{
    margin-left: 10px; 
}

.Reservation h2 {
   margin: 20px 0;
}

.Reservation h3{
    margin-top: 20px;
  
}

.hotelToggle{
    margin-left: 80px;
}

.prcesToggle{
    margin-left: 120px;
}

.starToggle{
    margin-left: 80px;
}

.facilityToggle{
    margin-left: 120px;
}

.Reservation .line {
    border: 0.5px solid rgb(202, 202, 202);
    width: 200px;
    margin: 10px 0;

}

.fa-circle-minus:hover,.fa-circle-plus:hover {
    cursor: pointer;
}

.Reservation .star i {
    color: rgb(201, 201, 201);
}

.Reservation .star .star1 i:nth-of-type(1) {
    color: rgb(231, 216, 18);
}
/* 遞減用負號 */
.Reservation .star .star2 i:nth-of-type(-1n + 2) {
    color: rgb(231, 216, 18);
}

.Reservation .star .star3 i:nth-of-type(-1n + 3) {
    color: rgb(231, 216, 18);
}

.Reservation .star .star4 i:nth-of-type(-1n + 4) {
    color: rgb(231, 216, 18);
}

.Reservation .star .star5 i:nth-of-type(1n+1) {
    color: rgb(231, 216, 18);
}



.room-page .room {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-left: 30px;
}

.room-page .room::after {
    content: "";
    width:250px;
}

.room-page .room::after {
    content: "";
    width:250px;
}

.room-page .room ul {
    text-align: center;
    height: 400px;
    width: 250px;
    margin-bottom: 20px;

}

.room-circle-hand{
    display: none;
}

@media screen and (max-width: 414px) {

    .index-page .room ul {
        height: 270px;
        width: 175px;
        /* outline: 1px solid ; */
    }

    .room-page .room::after {
        content: "";
        width:0px;
    }

    /* 圖片以外，其他都上下留空白margin */
    .room-shared .room li:nth-child(1n + 2) {
        margin: 8px 0;
    }

    .room-shared .room .fa-location-dot {
        margin-right: 5px;
        font-size: 15px;
    }
    
    .room-shared .room .like-star .fa-star {
        margin-top: 5px;
    
    }

    .room-shared .room p {
        font-size: 12px;
    }
    
    .room-shared .room .fa-thumbs-up {    
        font-size: 14px;
    }

    .detailed button {
        font-size: 14px;
    }

    .room-page .room {
        margin-left: 0;
    }
    
    .room-page .room ul {
        height: 270px;
        width: 175px;
        margin-bottom: 20px;
    
    }

    .room-page .Reservation {
        width: 180px;
        height: auto;
        padding: 10px;
    }
    
    .Reservation{
        position: absolute;
        left: -184px;
    }

    .Reservation select {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
        
    }
    
    .Reservation form>ul>li>input {
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    .Reservation form .numInput{
        margin-bottom: 10px;
    }
    
    .Reservation form .numInput input{
        font-size: 14px;
        width: 70px;
    }
    
    .Reservation form .prces input {
        font-size: 14px; 
    }
    
    .Reservation form input[type="checkbox"]{
        width: 15px;
        height: 15px;
    }
    
    .Reservation button {
        font-size: 16px;
        padding: 8px;
        margin-bottom: 10px;
    }

    .Reservation h2 {
       margin: 20px 0;
    }
    
    .Reservation h3{
        margin-top: 20px;
      
    }
    
    .hotelToggle{
        margin-left: 90px;
    }
    
    .prcesToggle{
        margin-left: 117px;
    }
    
    .starToggle{
        margin-left: 90px;
    }
    
    .facilityToggle{
        margin-left:  117px;
    }
    
    .Reservation .line {
        border: 0.5px solid rgb(202, 202, 202);
        width: 160px;
        margin: 10px 0;
    
    }

    .room-circle-hand{
        display: block;
    }

    .fa-hand-point-left{
        font-size: 35px;
        position: fixed;
        top: 410px;
        left: 40px;
        z-index: 15;
        color: rgb(1, 255, 204);
        transform: translate(0px);
        /* transform: rotate(270deg); */
        /* transform: skewX(90deg); */
    }

    .fa-circle{
        font-size: 40px;
        position: fixed;
        top: 400px;
        left: -15px;
        z-index: 10;
        color:rgba(129, 121, 121, 0.6);
        
    }


}