@import url("reset.css");
body{
    font-family: Arial, '微軟正黑體';
    font-size: 16px;
    font-weight: bold;
    background-image: url("../images/body1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    /* background-color: #c8e5fc; */

}

.out-wrapper{

}
.header-index{
    width: 100%;
    height: 600px;
    background-image: url("../images/header.jpg");
    background-size: cover;
    font-size: 20px;
    font-weight: bold;
}

.header-news{
    width: 100%;
    height: 600px;
    background-image: url("../images/news_header.jpg");
    background-size:cover;
    font-size: 20px;
    font-weight: bold;
}

.header-view{
    width: 100%;
    height: 600px;
    background-image: url("../images/view_header.jpg");
    background-size: cover;
    font-size: 20px;
    font-weight: bold;
}


.header-food{
    width: 100%;
    height: 600px;
    background-image: url("../images/food_header.jpg");
    background-size: cover;
    font-size: 20px;
    font-weight: bold;
}

.header-room{
    width: 100%;
    height: 600px;
    background-image: url("../images/room_header.jpg");
    background-size: cover;
    font-size: 20px;
    font-weight: bold;
}

header div{
    height: 100px;
    width: 100%;
    /* border: 1px solid black; */
    background-color: rgba(179, 217, 226,0.9);
    position: fixed;
    top: 0px;
    /* left: 0px; */
    z-index: 100;
}

.nav-right{
    /* border: 1px solid black; */
    float: right;
    margin-top: 10px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
}

.nav-right li{
    /* border: 1px solid rgb(222, 11, 11); */
    float: left; 
    padding: 10px 20px; 
}

a{
    text-decoration: none;
}

.nav-right a{
    /* border: 1px solid rgb(120, 11, 222); */
    color: rgb(0, 0, 0);
    /* display: block; */
}

.nav-center{
    clear: both;
    /* border: 1px solid rgb(237, 9, 9); */
    display: flex;   
    /* margin: 0 15%; */
    width:700px;
    position: fixed;
    top: 30px;
    left: 200px;
    z-index: 99;
}

.nav-center li{
    /* border: 1px solid rgb(92, 11, 222); */
    line-height: 4;
    padding: 0 25px;

}

.nav-center img{
    width: 100px;
    height: 70px;
    padding-right: 70px;
}

.nav-center a{
    /* border: 1px solid rgb(10, 132, 63); */
    color: black;
}

.nav-right a:hover,.nav-center a:hover{
    color: rgb(95, 95, 254);
}

/* ------------------body------------------ */
/* ------------------news------------------ */
.out-wrapper{
    width: 100%;
    /* border: 2px solid rgb(14, 235, 84); */
}

main{
    /* border: 2px solid rgb(235, 183, 14); */
    width: 100%;
}

main > h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 25px 0;
}

main h1 > i{
    font-size: 30px;
    color: rgb(231, 216, 18);
}

main > button{
    /* border: 2px solid rgb(203, 111, 13); */
    margin: 15px 0 10px 90%;
    padding: 5px 10px;
    font-size: 18px;
    color: white;
    background-color:#5790C5;
    border: none;
    font-weight: bold;
    box-shadow: 2px 2px 3px gray;
}

main>button:hover{
cursor: pointer;
background-color:#b6d3eb ;
color: #5790C5;
}

.news{
    /* border: 2px solid rgb(6, 128, 59); */
    display: flex;
    flex-wrap: wrap;
    
}


.news > div:nth-child(2){
    margin-left: auto;
}
.news ul{
    display: flex;
    /* border: 2px solid rgb(210, 144, 78); */
    width: 600px;
    
}

.news .news-text{
    padding: 0 20px;
    
    border: 2px solid rgb(243, 242, 241);
}
.news .arrow{
   padding-top: 80px;
   background-color: rgba(231, 231, 231, 0.5);   
}

.fa-angle-left,.fa-angle-right{
    font-size: 30px;
    padding: 0 20px;
    /* text-align: center; */
    /* border: 2px solid rgb(21, 146, 56); */

}

/* .arrow:hover{
    background-color: rgba(241, 204, 204, 0.5);    
} */
.news .fa-heart{
    font-size: 25px;
    color: red;
    padding: 10px 0 10px 220px;
}

.news .fa-heart:hover {
    color: rgb(248, 154, 173);
}

.news img{
    display: block;
    width: 250px;
    height: 200px;
    box-shadow: 2px 2px 3px gray;
}

.news h1{
    /* width: 200px; */
    font-size: 20px;
    /* padding: 10px 0; */
    text-align: left;
    line-height: 1.5;
    
}

.news a{
    color: black;
}

.news h1:hover{
    color: rgb(112, 157, 253);
}
.news p{
    padding: 30px 15px 0 5px;
    /* border: 2px solid rgb(203, 111, 13); */
}

.news span{
    /* border: 2px solid rgb(203, 111, 13); */
    margin-left: 110px;
}



.fa-mountain-sun{
    color: green;
}

/* ------------------view------------------ */
.view{
    /* border: 2px solid rgb(6, 128, 59); */
    display: flex;
    justify-content: space-between;
      
}

.view ul{
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(235, 26, 26); */
    background-color: rgba(255, 255, 255, 0.1);
}

.view li{
    border: 2px solid rgb(243, 242, 241);
    width: 270px;
    height: 350px;
    border-radius: 40px;   
    box-shadow: 1px 1px 2px gray;
    background-color: rgba(255, 255, 255, 0.5);

}

.view .arrow{
    /* width: 10px; */
    /* text-align: center; */
    padding-top: 150px;
    background-color: rgba(231, 231, 231, 0.5); 
    /* width: 5; */
 }

.arrow:hover{
    cursor: pointer;
    background-color: rgba(193, 193, 193, 0.5);  
 }
.view .fa-heart{
    font-size: 25px;
    color: red;
    /* padding: 10px 0 5px 150px; */
    margin: 10px 0 5px 150px;
}

.view .fa-heart:hover{
    color: rgb(248, 154, 173);
}

.view .fa-star{
    font-size: 25px;
    color: rgb(231, 216, 18);
    margin: 0 10px;
}

.view .fa-star:hover{
    color: rgb(244, 236, 122);
}

.view li > span{
    font-size: 20px;
    
}

.view img{
    display: block;
    width: 270px;
    height: 220px;
    box-shadow: 2px 2px 3px gray;
    border-radius: 40px;
}

.view h1{
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 10px;

}

.view a{
    color: black;
}

.view h1:hover{
    color: rgb(112, 157, 253);
}


.view li div > span{
    background-color: rgb(210, 205, 205);
    padding: 5px;
    font-size: 18px;
    margin-left: 10px;
    box-shadow: 2px 2px 3px gray;
   
}



.fa-mountain-sun{
    color: green;
}

/* ------------------food---------------- */
.food{
    display: flex;
    /* border: 1px solid rgb(220, 15, 15); */
    flex-wrap: wrap;
    justify-content:center;
}

.food > div{
    margin:5px 30px;
    /* border: 1px solid rgb(220, 15, 15); */
}

.food ul{
    display: flex;
}

.food li{
    /* border: 1px solid rgb(220, 15, 15); */
    width: 250px;
    height: 250px;
    box-shadow: 2px 2px 3px gray;
}

.food img{
    width: 250px;
    height: 250px;
    box-shadow: 2px 2px 3px gray;
}

.food .fa-heart{
    font-size: 25px;
    color: red;
    padding: 10px 0 5px 120px;
}

.food .fa-heart:hover {
    color: rgb(248, 154, 173);
}

.food .fa-star{
    font-size: 25px;
    color: rgb(231, 216, 18);
    margin: 0 10px;
}

.food .fa-star:hover{
    color: rgb(244, 236, 122);
}

.food li > span{
    font-size: 20px;
}

.food .food-text{
    /* background-color: FFEECE; */
    background-color: rgb(245, 233, 200);
}

.food h1{
    font-size: 20px;
    text-align: center;
    margin: 15px 0;
}

.food p{
    /* border: 1px solid rgb(220, 15, 15); */
    text-align: center;
    line-height: 1.5;
    margin:10px 20px 20px;
}

.food .line{
    border: 0.5px solid rgb(177, 177, 177);
    width: 80%;
    margin: 0 auto;
    /* background-color: rgb(167, 167, 167); */
}

.food li a:last-of-type{
    font-weight: bold;
    /* padding: 5px; */
    /* margin-top: 5px; */
    margin-left: 40%;
    /* border: 1px solid rgb(96, 15, 219); */
    cursor: pointer;
    color: rgb(255, 163, 4);
}   

.food li a:last-of-type:hover{
    color: rgb(245, 193, 98);
}
/* ------------------room---------------- */
.room{
     /* outline: 1px solid rgb(219, 209, 24); */
     display: flex;
     justify-content: space-between;
}

.room > div{
    /* margin-left: 20px; */
    /* outline: 2px solid rgb(17, 126, 90); */
    margin: 0 20px;
}

.room li li{
    outline: 1px solid red;
   
}

.room .fa-heart{
    font-size: 25px;
    color: red;
    margin-left: 200px;
    /* outline: 1px solid rgb(146, 199, 10); */
}

.room .fa-heart:hover{
    color: rgb(248, 154, 173);
}
.room ul{
    /* outline: 1px solid rgb(186, 186, 186); */
    text-align: center;
    width: 250px;
    box-shadow: 1px 1px 2px gray;
    background-color: white; 
}
.room li{ 
    width: 250px;
    margin: 10px 0; 

}

.room li h1{
    font-size: 20px;
    color: rgb(61, 150, 228);
}

.room li h1:hover{
    color: rgba(52, 68, 214, 0.943);
}

.room img{
    display: block;
    width: 250px;
    height: 200px;
    box-shadow: 2px 2px 3px gray;
    
}

.room .fa-star{
    margin-top: 10px;
    color: rgb(61, 150, 228);
   
}

.room .fa-location-dot{
    margin-right: 5px;
}

.room a{
    color: black;
}
.room .fa-thumbs-up{
    margin-right: 5px;
}
.detailed{
    display: flex;
    outline: 1px solid rgb(186, 186, 186);
}
.detailed p,.detailed a{
    outline: 1px solid rgb(186, 186, 186);
    width: 100%;
    padding: 10px 0;
}

.detailed a:hover{
    color: rgb(176, 176, 176);
}
.detailed span{
    color: rgb(61, 150, 228);
}

.fa-circle-chevron-up{
    font-size: 50px;
    color:#5790C5;
    box-shadow: 2px 2px 3px gray;
    border-radius: 50%;
    position: fixed;
    bottom: 200px;
    right: 10px;
    z-index: 99;
}

.fa-circle-chevron-up:hover{
    background-color: #5790C5;
    color:  #b6d3eb;
}
/* ------------------footer---------------- */
footer{
   
    height: 170px;
    background-color: black;
    color: white;  
    padding: 20px 15px 0 15px;
    font-size: 16px;
}


footer a{
    color: white;
}

/* footer a:after{
    將a標籤的title帶到content裡a的內容
    content: attr(title);
} */

footer img{
    /* border: 1px solid white; */
    width: 100px;
    height: 70px;
}

.foot-wrapper{
    display: flex;
    /* border: 1px solid rgb(167, 31, 31); */
    margin: 0 auto;
}

.foot-wrapper div{
    margin: 0 auto;
}

.address{
    /* border: 1px solid white; */
    /* margin-left: 20px; */
    /* height: calc(100% - 131px); */
    
}

.address ul{
    /* border: 1px solid rgb(232, 17, 17); */
}

.address li{
    padding: 5px;
    
}

.link1{
    /* border: 1px solid white; */
    
}

.link1 li{
    padding: 5px;
}

.link2{
    /* border: 1px solid white; */
    /* margin-left: 55px; */
    /* height: calc(100% - 131px); */
}

.link2 li{
    padding: 5px;
}

.link3{
    /* border: 1px solid white; */
    /* margin-left: 55px; */
    /* height: calc(100% - 131px); */
}

.link3 ul{
    display: flex;
}

.link3 li{
    padding: 5px;
}

.link3 img{
    width: 45px;
    height: 45px;
}

.QRcode li{
    /* border: 1px solid rgb(21, 179, 95); */
    padding: 5px;
   
}
.QRcode img{
    display: block;
    width: 50px;
    height: 40px;
    background-color: white;
    margin: 0 auto;
}

footer > p{
    text-align: center;
    margin-top: 15px;
}

footer > a > p{
    text-align: center;
    margin-top: 15px;
    color: blue;
}

footer > a > p:hover{
    color: #5790C5;
}

