@import url("reset.css");

body {
    font-family: Arial, '微軟正黑體';
    font-size: 16px;
    font-weight: bold;
    /* background-color: #c8e5fc; */

}

.out-wrapper {}

.header-index {
    width: 100%;
    height: 600px;
    background-image: url("../images/header.jpg");
    background-size: cover;
    font-size: 20px;
    font-weight: bold;
}

.header-news {
    width: 100%;
    height: 600px;
    background-image: url("../images/news_header.jpg");
    background-size: cover;
    font-size: 20px;
    font-weight: bold;
}

.header-view {
    width: 100%;
    height: 600px;
    background-image: url("../images/view_header.jpg");
    background-size: cover;
    font-size: 20px;
    font-weight: bold;
}


.header-food {
    width: 100%;
    height: 600px;
    background-image: url("../images/food_header.jpg");
    background-size: cover;
    font-size: 20px;
    font-weight: bold;
}

.header-room {
    width: 100%;
    height: 600px;
    background-image: url("../images/room_header.jpg");
    background-size: cover;
    font-size: 20px;
    font-weight: bold;
}

.nav-right {
    /* border: 1px solid black; */
    float: right;
    margin-top: 10px;
}

.nav-right li {
    /* border: 1px solid rgb(222, 11, 11); */
    float: left;
    padding: 10px 20px;
}

.nav-right a {
    /* border: 1px solid rgb(120, 11, 222); */
    /* display: block; */
}

.nav-center {
     /* border: 1px solid rgb(237, 9, 9); */
    clear: both;
    display: flex;
    margin: 0 15%;
    width: 700px;
}

.nav-center li {
    /* border: 1px solid rgb(92, 11, 222); */
    line-height: 4;
    padding: 0 25px;

}

.nav-center img {
    width: 100px;
    height: 70px;
    padding-right: 70px;
}

.nav-center a {
    /* border: 1px solid rgb(10, 132, 63); */
    /* color: black; */
}

.nav-right a:hover {
    color: rgb(95, 95, 254);
}

.nav-center a:hover {
    color: rgb(95, 95, 254);
}

/* ------------------.index-page------------------ */

.out-wrapper {
    /* width: 100%; */
    /* border: 2px solid rgb(14, 235, 84); */
}


.index-page {
    /* border: 2px solid rgb(235, 183, 14); */
    /* width: 100%; */
    background-image: url("../images/body.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.index-page>h1 {
    /* border: 2px solid rgb(240, 12, 12); */
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 40px 0;
}

.index-page h1>.fa-star {
    /* font-size: 30px; */
    color: rgb(231, 216, 18);
    margin-right: 15px;
}

.index-page h1>.fa-mountain-sun {
    color: green;
    margin-right: 15px;
}

.index-page h1>.fa-utensils {
    color: rgb(5, 5, 5);
    margin-right: 15px;
}

.index-page h1>.fa-bed {
    color: rgb(2, 2, 2);
    margin-right: 15px;
}

.index-page .more a {
    /* border: 2px solid rgb(203, 111, 13); */
    display: block;
    width: 80px;
    height: 38px;
    text-align: center;
    line-height: 2;
    margin: 20px 0 0 1115px;
    font-size: 20px;
    color: white;
    background-color: #5790C5;
    font-weight: bold;
    box-shadow: 2px 2px 3px gray;
    
}

.index-page .more a:hover {
    cursor: pointer;
    background-color: #b6d3eb;
    color: #5790C5;
}

/* .index-page .more a{
    border: 2px solid rgb(203, 111, 13);
    margin: 30px 0 10px 1125px;
    padding: 5px 15px;
    font-size: 20px;
    color: white;
    background-color: #5790C5;
    border: none;
    font-weight: bold;
    box-shadow: 2px 2px 3px gray;
} */

/* .index-page>button:hover {
    cursor: pointer;
    background-color: #b6d3eb;
    color: #5790C5;
} */

/* ------------------news------------------ */
.news {
    /* border: 2px solid rgb(6, 128, 59); */
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */

}

.news>div:nth-of-type(3) {
    /* border: 2px solid rgb(19, 134, 40); */
    margin-left: auto;

}

.news ul {
    /* border: 2px solid rgb(210, 144, 78); */
    display: flex;
    
}

.news .news-text {
    /* border: 1px solid rgb(64, 16, 186); */
    width: 233px;
    padding: 0 20px;
    box-shadow: 2px 2px 3px gray;
}

.news .fa-angle-left {
    font-size: 30px;
    padding: 0 25px;
    margin-top: 82px;

}

.news .fa-angle-right {
    font-size: 30px;
    padding: 0 25px;
    margin-top: 82px;
}

.news .arrow-left {
    /* background-color: rgba(196, 189, 189, 0.5);    */
}


.news .arrow-left:hover {
    cursor: pointer;
    background-color: rgba(176, 176, 255, 0.5);
}

.news .arrow-right {
    /* background-color: rgba(231, 231, 231, 0.5);    */
    /* margin-left: auto; */
}

.news .arrow-right:hover {
    cursor: pointer;
    background-color: rgba(176, 176, 255, 0.5);
}

.news .fa-heart {
    font-size: 20px;
    color: red;
    padding: 10px 0 10px 200px;
}

.news .fa-heart:hover {
    color: rgb(248, 154, 173);
}

.news img {
    display: block;
    width: 250px;
    height: 200px;
    box-shadow: 2px 2px 3px gray;
}

.news h1 {
    font-size: 20px;
    text-align: left;
    line-height: 1.5;

}

.news h1:hover {
    color: rgb(112, 157, 253);
}

.news p {
     /* border: 2px solid rgb(203, 111, 13); */
    margin-top: 35px;
   
}

.news span {
    /* border: 2px solid rgb(203, 111, 13); */
    margin-left: 100px;
}

/* ------------------news-page------------------ */
.news-page .new{
    /* border: 2px solid rgb(6, 128, 59); */
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: space-between;

}

.news-page ul {
    /* border: 2px solid rgb(210, 144, 78); */
    display: flex;
    
}

.news-page .news-text {
    /* border: 1px solid rgb(64, 16, 186); */
    width: 233px;
    padding: 0 20px;
    box-shadow: 2px 2px 3px gray;
}

.news-page .fa-heart {
    font-size: 20px;
    color: red;
    padding: 10px 0 10px 200px;
}

.news-page .fa-heart:hover {
    color: rgb(248, 154, 173);
}

.news-page img {
    display: block;
    width: 250px;
    height: 200px;
    box-shadow: 2px 2px 3px gray;
}

.news-page h1 {
    font-size: 20px;
    text-align: left;
    line-height: 1.5;

}

.news-page h1:hover {
    color: rgb(112, 157, 253);
}

.news-page p {
     /* border: 2px solid rgb(203, 111, 13); */
    margin-top: 35px;
   
}

.news-page span {
    /* border: 2px solid rgb(203, 111, 13); */
    margin-left: 100px;
}

/* ------------------view------------------ */
.view {
    /* border: 2px solid rgb(6, 128, 59); */
    display: flex;
    /* justify-content: space-between; */

}

.view ul {
    display: flex;
    flex-direction: column;
    /* box-shadow: 1px 1px 2px gray; */
    /* border: 2px solid rgb(235, 26, 26); */
    /* background-color: rgba(255, 255, 255, 0.1); */
}

.view li {
    /* border: 2px solid rgb(243, 242, 241); */
    width: 250px;
    height: 330px;
    border-radius: 40px;
    box-shadow: 1px 1px 2px gray;
    background-color: rgba(255, 255, 255, 0.5);

}

.view div:nth-of-type(2) {
    flex-grow: 1;
}

.view div:nth-of-type(3) {
    flex-grow: 1;
}

.view div:nth-of-type(4) {
    flex-grow: 1;
}

/* s */

.view .fa-angle-left {
    font-size: 30px;
    padding: 0 25px;
    padding-top: 160px;
}

.view .fa-angle-right {
    font-size: 30px;
    padding: 0 25px;
    padding-top: 160px;
}

.view .arrow-left {
    /* background-color: rgba(196, 189, 189, 0.5);    */
}


.view .arrow-left:hover {
    cursor: pointer;
    background-color: rgba(176, 176, 255, 0.5);
}

.view .arrow-right {
    /* background-color: rgba(231, 231, 231, 0.5);    */
}

.view .arrow-right:hover {
    cursor: pointer;
    background-color: rgba(176, 176, 255, 0.5);
}


.view .fa-heart {
    font-size: 20px;
    color: red;
    /* padding: 10px 0 5px 150px; */
    margin: 10px 0 5px 130px;
}

.view .fa-heart:hover {
    color: rgb(248, 154, 173);
}

.view .fa-star {
    font-size: 20px;
    color: rgb(231, 216, 18);
    margin: 0 10px;
}

.view .fa-star:hover {
    color: rgb(244, 236, 122);
}

.view li>span {
    font-size: 20px;

}

.view img {
    display: block;
    width: 250px;
    height: 200px;
    box-shadow: 2px 2px 3px gray;
    border-radius: 40px;
}

.view h1 {
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 10px;

}

.view a {
    color: black;
}

.view h1:hover {
    color: rgb(112, 157, 253);
}


.view li div>span {
    background-color: rgb(210, 205, 205);
    padding: 5px;
    font-size: 18px;
    margin-left: 10px;
    box-shadow: 2px 2px 3px gray;

}

/* ------------------food---------------- */
.food {
    display: flex;
    /* border: 1px solid rgb(220, 15, 15); */
    flex-wrap: wrap;
    /* justify-content:space-between; */
}

.food>div {
    margin: 0 65px;
    /* border: 1px solid rgb(220, 15, 15); */
}

.food>div:nth-of-type(3) {
    margin-top: 30px;
}

.food>div:nth-of-type(4) {
    margin-top: 30px;
}

.food ul {
    display: flex;
}

.food li {
    /* border: 1px solid rgb(220, 15, 15); */
    width: 250px;
    height: 250px;
    box-shadow: 2px 2px 3px gray;
}

.food img {
    width: 250px;
    height: 250px;
    box-shadow: 2px 2px 3px gray;
}

.food .fa-heart {
    font-size: 20px;
    color: red;
    padding: 10px 0 5px 120px;
}

.food .fa-heart:hover {
    color: rgb(248, 154, 173);
}

.food .fa-star {
    font-size: 20px;
    color: rgb(231, 216, 18);
    margin: 0 10px;
}

.food .fa-star:hover {
    color: rgb(244, 236, 122);
}

.food li>span {
    font-size: 20px;
}

.food .food-text {
    /* background-color: FFEECE; */
    background-color: rgb(245, 233, 200);
}

.food h1 {
    font-size: 20px;
    text-align: center;
    margin: 15px 0;
}

.food p {
    /* border: 1px solid rgb(220, 15, 15); */
    text-align: center;
    line-height: 1.5;
    margin: 10px 20px 20px;
}

.food .line {
    border: 0.5px solid rgb(177, 177, 177);
    width: 80%;
    margin: 0 auto;
    /* background-color: rgb(167, 167, 167); */
}

.food .food-text a:last-of-type {
    font-weight: bold;
    /* padding: 5px; */
    /* margin-top: 5px; */
    margin-left: 40%;
    /* border: 1px solid rgb(96, 15, 219); */
    cursor: pointer;
    color: rgb(255, 163, 4);
}

.food li a:last-of-type:hover {
    color: rgb(245, 193, 98);
}

/* ------------------room---------------- */
.room {
    /* outline: 1px solid rgb(219, 209, 24); */
    display: flex;
    justify-content: space-between;
}

.room>div {

    /* outline: 2px solid rgb(17, 126, 90); */
    /* margin: 0 30px; */
    /* margin-left: 80px; */
}

.room>div:first-of-type {
    margin-left: 65px;
}

.room>div:last-of-type {
    margin-right: 65px;
}

.room li li {
    outline: 1px solid red;

}

.room .fa-heart {
    font-size: 20px;
    color: red;
    margin-left: 200px;
    /* outline: 1px solid rgb(146, 199, 10); */
}

.room .fa-heart:hover {
    color: rgb(248, 154, 173);
}

.room ul {
    /* outline: 1px solid rgb(186, 186, 186); */
    text-align: center;
    width: 250px;
    box-shadow: 1px 1px 2px gray;
    background-color: white;
}

.room li {
    width: 250px;
    margin: 10px 0;

}

.room li h1 {
    font-size: 20px;
    color: rgb(61, 150, 228);
}

.room li h1:hover {
    color: rgba(52, 68, 214, 0.943);
}

.room img {
    display: block;
    width: 250px;
    height: 200px;
    box-shadow: 2px 2px 3px gray;

}

.room .like-star .fa-star{
    margin-top: 10px;
    color: rgb(61, 150, 228);

}

.room .like-star .star5{
    color: rgb(201, 201, 201);

}

.room .fa-location-dot {
    margin-right: 5px;
}

.room a {
    color: black;
}

.room .fa-thumbs-up {
    margin-right: 5px;
}

.detailed {
    display: flex;
    outline: 1px solid rgb(186, 186, 186);
}

.detailed p,
.detailed a {
    outline: 1px solid rgb(186, 186, 186);
    width: 100%;
    padding: 10px 0;
}

.detailed a:hover {
    color: rgb(176, 176, 176);
}

.detailed span {
    color: rgb(61, 150, 228);
}

.fa-circle-chevron-up {
    font-size: 50px;
    color: #5790C5;
    box-shadow: 2px 2px 3px gray;
    border-radius: 50%;
    position: fixed;
    bottom: 200px;
    right: 10px;
    z-index: 99;
}

.fa-circle-chevron-up:hover {
    background-color: #5790C5;
    color: #b6d3eb;
}

/* ------------------footer---------------- */
footer {

    height: 170px;
    background-color: black;
    color: white;
    padding: 20px 30px 0 60px;
    font-size: 16px;
}


footer a {
    color: white;
}

/* footer a:after{
    將a標籤的title帶到content裡a的內容
    content: attr(title);
} */

footer img {
    /* border: 1px solid white; */
    width: 100px;
    height: 70px;
}

.foot-wrapper {
    display: flex;
    /* border: 1px solid rgb(167, 31, 31); */
    margin: 0 auto;
}

.foot-wrapper div {
    margin: 0 auto;
}

.address {
    /* border: 1px solid white; */
    /* margin-left: 20px; */
    /* height: calc(100% - 131px); */

}

.address ul {
    /* border: 1px solid rgb(232, 17, 17); */
}

.address li {
    padding: 5px;

}

.link1 {
    /* border: 1px solid white; */

}

.link1 li {
    padding: 5px;
}

.link1 li a:hover{
    color:rgb(210, 208, 208) ;
 }

.link2 {
    /* border: 1px solid white; */
    /* margin-left: 55px; */
    /* height: calc(100% - 131px); */
}

.link2 li {
    padding: 5px;
}

.link2 li a:hover{
    color:rgb(152, 147, 147) ;
 }

.link3 {
    /* border: 1px solid white; */
    /* margin-left: 55px; */
    /* height: calc(100% - 131px); */
}

.link3 ul {
    display: flex;
}

.link3 li {
    padding: 5px;
}

.link3 img {
    width: 45px;
    height: 45px;
}

.QRcode li {
    /* border: 1px solid rgb(21, 179, 95); */
    padding: 5px;

}

.QRcode img {
    display: block;
    width: 50px;
    height: 40px;
    background-color: white;
    margin: 0 auto;
}

footer>p {
    text-align: center;
    margin-top: 15px;
}

footer>a>p {
    text-align: center;
    margin-top: 15px;
    color: blue;
}

footer>a>p:hover {
    color: #5790C5;
}