/* ------------------view------------------ */
.index-page .view>div{
    /* border: 2px solid rgb(6, 128, 59); */
    display: flex;
}

.view-shared .view ul {
    /* outline: 2px solid rgb(6, 252, 43); */
    display: flex;
    flex-direction: column;   
    width: 25%;
}

.view-shared .view ul:hover{
    box-shadow: 2px 2px 3px gray;
}

.view-shared .view li{
    /* outline: 2px solid rgb(252, 129, 6); */
    margin-bottom: 15px;
    text-align: center;

}

.view-shared .view img {
    width: 100%;
}

.view-shared .view .text span {
    background-color: rgb(210, 205, 205);
    padding: 5px;
    margin: 0 10px;
}

/* ------------------view-page------------------ */
.view-page .area { 
    /* outline: 2px solid rgb(252, 129, 6); */
    display: flex;
    margin: 30px 25%;
    width: 49%;

}

.view-page .area li {  
    padding: 10px;
    margin-right: 10px;
    font-size: 20px;

}

 .view-page .view {   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.view-page .view ul {
    margin-bottom: 40px;
}
