.index-page .view ul { 
    width: 250px;
    /* height: 350px; */
}

.view-shared .view li {
    text-align: center;  
    width: 100%; 
}

.view-shared .view img {
    width: 100%;
    height: auto;
}

.view-shared .view .text span {
    background-color: rgb(210, 205, 205);
    padding: 5px;
    margin: 0 10px;
}

/* ------------------view-page------------------ */
.view-page .view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.view-page .view::after{
    content: "";
    width: 250px;
}

.view-page .view ul { 
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    margin-bottom: 40px;
}

.view-page .view ul:hover {
    box-shadow: 2px 2px 3px gray;
}

.view-shared .view li {
    margin-bottom: 20px;
    width: 100%;  
}

@media screen and (max-width: 414px) {
    .index-page .view ul { 
        width: 160px;
        height: 240px;
        /* outline: 1px solid red; */
    }
    
    .view-shared .view img {
        width: auto;
        height: 130px;
    }

    .index-page .view li {   
        margin-bottom: 15px;
    }

    .view-shared .view .text span {
        margin: 0 6px;
        font-size: 12px;
    }


    .view-page .view ul { 
        width: 160px;
        height: 240px;
        margin-bottom: 20px;
    }
    
    .view-shared .view li {
        margin-bottom: 15px;
          
    }
    
}