.index-page .view{
   
}

.index-page .view ul { 
    /* margin-right: 30px; */
   
    /* width: auto; */
    /* outline: 1px solid rgb(0, 255, 38); */
    height: 350px;
    padding: 0 20px;
}

.view-shared .view li {
    margin-bottom: 20px;
    text-align: center;
    /* outline: 1px solid rgb(0, 255, 38); */
    width: 250px;
      
}

.view-shared .view img {
    width: 100%;
    /* height: 200px; */
}

.view-shared .view .text span {
    background-color: rgb(210, 205, 205);
    padding: 5px;
    margin: 0 10px;
}

/* ------------------view-page------------------ */
.view-page .view {
    display: flex;
    flex-wrap: wrap;
}

.view-page .view ul { 
    display: flex;
    flex-direction: column;
    height: 350px;
    margin-right: 45px;
    margin-bottom: 40px;
    width: calc((100% - 135px) / 4);
}

.view-page .view ul:nth-child(4n){
    margin-right: 0;
}

.view-page .view ul:hover {
    box-shadow: 2px 2px 3px gray;
}
